
html{
    background-color:rgb(30, 29, 29);
    color:white;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    
    
    
}
body{
    animation: opac 0.75s ease-in-out;
    scroll-behavior: smooth;
}
header{
    display:flex;
    justify-items: flex-start;
    align-items: center;
    margin: 20px;
    
}

#title1{
    float: left;
    position: fixed;
    margin: 50px 0px 0px 0px;
    padding: 40px 800px 10px 0px;
    background-color:rgb(30, 29, 29);
    text-shadow:  1px 1px #00ffff;
    
 
}
#navbar{
    position: fixed;
    margin: 20px;
    padding: 80px 0px 0px 980px;   
}
#navbar ul li{
    
    list-style-type: none;
    display: inline-block;
    background-color: rgb(30, 29, 29);
    
    
}
#navbar ul li a{

    color: white;
    text-decoration: none;
    padding: 0px 0px 0px 20px;
    font-size: 25px;
    transition:  900ms ease-in-out;
    
    
}
#navbar ul li a:hover{
    text-decoration: underline;
    letter-spacing: 2px;
    margin: 15px;
    text-shadow:  1px 1px #00ffff;
    
}
#title1:hover{
    word-spacing: 5px;
    text-shadow:  2px 2px #00ffff;
    cursor: pointer;
    
} 


main{
    border-top: 1px solid white;
   
    
    margin: 100px 200px 500px 200px;
    
    
}
#padd{
    padding-top: 100px;
    
}

    
#welcomeco{
    text-align: center;
    
}

#welcome {
    text-align: center;
    font-size: 40px;
    color:#00ffff;

}

#pass1{
    text-align: center;
    font-size: 30px;
}
main #education{
    float: left;
}
#education{
    border-right: 1px solid white;
    padding-right: 150px;
    font-size: 20px;
    padding-bottom: 100px;
    animation: opac 0.75s ease-in-out;
    
}
ul #unis{
    transition:  500ms ease-in-out;
   
}


#hidden1{
    opacity: 0.5;
}
#exp{
    float: right;
    padding-right: 200px;
    font-size: 20px;
    animation: opac 0.75s ease-in-out;
   
    
}
footer{
    text-align: center;
    font-size: 20px;
   
    border-top: 1px solid white;
    margin: 0px 200px 0px 150px;
    animation: opac 0.75s ease-in-out;
}
footer a{
    text-decoration: none;
    color: white;
    transition:  500ms ease-in-out;
}

footer a:hover{
    cursor: pointer;
    text-decoration: underline;
    letter-spacing: 2px;
    margin: 15px;
    text-shadow:  1px 1px #00ffff;
    
}
strong{
    color:#00ffff;
}

#skills{
    margin-top: 500px;
   
    
}
#skills ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
   
}
#skills ul img{
    
    max-width: 100px;
}
#jss{
    transform: scaleY(0.85);
    
}
#cs{
    transform: scaleY(1.2);
    
}
#red{
    transform: scaleY(1.2);
    
}
#heski{
   
    font-size: 30px;
    animation: opac 0.75s ease-in-out;
}
#lis{
    padding-top: 50px;
}

#ht:hover{
    transition: 1s ease;
    transform: rotate(360deg);
}
#rot:hover{
    transform: rotate(360deg);
    transition: 1s ease;  
}

#jssro:hover{
    transform: rotate(360deg);
    transition: 1s ease;  
}

#rea:hover{
    transform: rotate(360deg);
    transition: 1s ease;  
}

#rearo:hover{
    transform: rotate(360deg);
    transition: 1s ease;  
}
figcaption{
    text-align: center;
    color: #00ffff;
    font-size: 20px;
    font-weight: bold;
  
    
}
#spu{
    margin-top: 15px;
}
li #noro{
    transform: none;
}
#note{
    opacity: 0.3;
}


@media screen and (max-width: 630px) {
   header{
        margin: 0px 10px 0px 0px;
        padding: 30px 0px 0px 0px;
   }
   #navbar{
    background-color:none;
    
     
    margin: 50px 150px 50px 180px;
    padding: 20px 10px 0px 10px;
    

   }
   main{
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
   
   }
   #welcomeco{
        padding-top: 90px;
        
   }
   footer{
        margin: 0px 0px 0px 0px;
        padding: 1px 1px 1px 1px;
   }
   #education{
    border: none;
   }
  #exp{
     margin-bottom: 150px;
  }
  
  #rea ,#red{
    margin-top: 20px;
  }
  #ht,#cs,#jss{
   margin-right: 10px;
  }
}

#js1 , #js2{
    display: none;
}

@keyframes opac {
    from{
        
        opacity: 0;
        transform: translateY(30px);
    }
    
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

